@import './_general.scss';
#canvas{
    border: thin solid;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#screen{
    fill:lightblue;
}

.pasillo{
    fill:rgb(160, 159, 159);
}
.salida{
    fill:blue;
}

use{
    cursor: pointer;
    transition: .2s;
}

.ocupado{
    fill:$rojo !important;
}
.escogido{
    fill:$verde !important;
}
.free{
    fill:$azul;
}

.controls{
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    a{
        font-size: 1.5em;
        text-decoration: none;
        border-radius: 50%;
        &:nth-child(n){
            color:$verde;
        }
        &:nth-child(n+3){
            color:$azul;
        }
        &:nth-child(n+5){
            color:$rojo;
        }
    }
}

.tooltip{
    position: absolute;
    border:thin solid;
    background-color: whitesmoke;
    padding: .5%;
}

.bar{
    @include barraProgreso;
}
section{
    position: relative;
    > a{
        @include btn;
    }
}