@import './_general.scss';

section{
    display: flex;
    padding: 1%;
    aside{
        padding: 1%;
    }
    .description{
        h3{
            padding:1% 0;
            border-bottom: thin solid;
            margin-bottom: 1%;
        }
        iframe{
            width: 100%;
        }   
    }
    .timeTable{
        flex-basis:100%;
        &::before{
            content: 'Horarios';
            font-size:1.5em;
            padding: 4% 1%;
        }
        div{
            display: flex;
            span{
                border:thin solid;
                flex-basis: (100%/3);
                padding:.75%;
                text-align: center;

            }
            &:nth-child(n+2):hover{
                background-color:$rojo;
            }
            .btnFindChair{
                background-color: $azul;
                cursor: pointer;
            }
        }
    }
    .title{
        font-weight: bold;
        font-size:1.2em;
    }
}