@import './_general.scss';
$medidaPeli:200px;
$medidaPeliMovil:100%;
body{
    background-color:$backgroundColor;
    position: relative;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.smallFilm{
    display: flex;
    flex-direction: column;
    position: relative;
    margin:2%;
    transition: .2s;
    cursor: pointer;
    @media screen and(max-width:$tablet){
        flex-direction: row;
    }
    img{
        width: $medidaPeli;
        @media screen and (max-width:$tablet) {
            height: $medidaPeli*2;
            width: $medidaPeliMovil;
        }
    }
    span{
        width: $medidaPeli;
        position: absolute;
        bottom: 0;
        background-color: black;
        color:white;
        padding: 5%;
        @media screen and (max-width:$tablet) {
            font-size: 2em;
            width: $medidaPeliMovil;
        }
    }
    @media screen and (min-width:$tablet){
        &:hover{
            transform: scale(1.2);
        }
    }

}